################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################


/.vs/power_task_man/CopilotIndices/17.12.38.29086
/.vs
/bin
/obj
.vscode/